$my-header-bg: #323334;
$my-header-text: #FCFCFC;
$my-primary: #BF9B34;

@use '../../node_modules/bootstrap/scss/bootstrap' with (
  $primary: #BF9B34
);

.header {
  background-color: $my-header-bg;
  min-height: 241px;
}

.search-input {
  background-color: $my-header-bg;
  color: $my-header-text;

  &::placeholder {
    color: $my-header-text;
    opacity: 1;
  }

  &:focus {
    background-color: $my-header-bg;
    color: $my-header-text;
  }
}

.main {
  min-height: calc(100dvh - 212px);
  background-image: url('/bg.png');
  background-size: cover;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.price {
  margin-top: auto;
  text-align: right;
}

.search-wrap {
  width: min(100%, 320px);
}


.gradient {
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77.08%,
    rgba(70, 144, 213, 0) 100%
  );

  backdrop-filter: blur(13.1842px);
  -webkit-backdrop-filter: blur(13.1842px);
  border-radius: 19.4467px;

}

.imgCard {
  width: 140px;
  height: 133px;
  object-fit: contain;
  flex-shrink: 0;
  margin: 1rem 0 1rem 1rem;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');